body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  overflow: auto;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
}

.container-boiler {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
#backToTopBtn{
  position: fixed;
  display: none;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.index-container {
  width: 100%;
  padding: 0 2rem;
  margin-left: 0.85rem;
}

/* navbar */
.navbar {
  position: sticky;
  z-index: 1030;
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
}

/* footer */
.f-info {
  background-color: #a8a8a8;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.75rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.f-info-socials i:hover {
  transform: scale(1.25);
}

.f-info-links a {
  margin: 0 0.3rem;
  text-decoration: none;
  color: black;
}

.f-info-links a:hover {
  text-decoration: underline black;
}

/* cards */
.index-heading {
  margin-top: 2rem;
  margin-left: 2.85rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.listing-card {
  border: none;
  margin: 2rem 2rem 2rem 0;
}

.card-body {
  padding: 0;
}
.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  height: 15rem;
}
.index-card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  height: 15rem;
  transition: 75ms ease-in;
}

.index-card-img-top:hover {
  transform: scale(1.05);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.listing-link {
  text-decoration: none;
  padding: 0;
  color: black;
}
.col {
  align-items: center;
}

.show-card {
  margin-bottom: 0;
}
.show-img {
  height: 40vh;
}
.show-img:hover {
  box-shadow: none;
}

.btns {
  display: flex;
  margin: 1rem 2rem 1rem 0;
}

.show-btn {
  margin-right: 2rem;
}
